html, body {
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/giraffe-print-mariya-shotina.jpg");
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0 !important;
}

.navbar{
    background-color: tan !important;
    font-size: 1.4em;
    text-align: center !important;
}

#box{
    background-color: rgb(83, 21, 21);
    height: 1%;
    width: 100%;
}

.card-container {   
    width:80vw;
    margin:auto;
    margin-top: 5vh;
}

.card{
    border: .2em solid rgb(83, 21, 21);
}

.buttonbrown{
    background: rgb(83, 21, 21);
    border: .1em solid rgb(83, 21, 21);
}

.tint{
    position: absolute;
    width: 100vw;
    height: 110vh;
    background: rgba(70, 31, 31, 0.5)
}

@media only screen and (max-height: 1024px) {
    .tint{
        height: 120vh;
    }

@media only screen and (max-width: 414px) {
    .tint{
        height: 270vh;
    }

@media only screen and (max-height: 823px) {
    .tint{
        height: 240vh;
    }

@media only screen and (max-height: 812px) {
    .tint{
        height: 225vh;
    }
       
@media only screen and (max-height: 736px) {
    .tint{
        height: 270vh;
    }
       
@media only screen and (max-height: 667px) {
    .tint{
        height: 275vh;
    }
   
@media only screen and (max-height: 568px) {
    .tint{
        height: 300vh;
    }
