html, body {
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/giraffe-print-mariya-shotina.jpg");
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0 !important;
}

.navbar{
    background-color: tan !important;
    font-size: 1.4em;
    text-align: center !important;
}

#box{
    background-color: rgb(83, 21, 21);
    height: 1%;
    width: 100%;
}