html, body {
    background-color: white !important;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0 !important;
}

.navbar{
    background-color: rgb(181, 245, 236) !important; 
    font-size: 1.4em;
    text-align: center !important;
}

#box{
    background-image: url(/images/silver.png);
    height: 1%;
    width: 100%;
}

.card-container {   
    width:80vw;
    margin:auto;
    margin-top: 5vh;
}

.card{
    border: .2em solid rgb(181, 245, 236);
}

.buttonmint{
    background:rgb(155, 211, 203);
    border: .1em solid rgb(155, 211, 203);
}

.tint{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(70, 31, 31, 0.5)
}