html, body {
    background-color: white !important;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0 !important;
}

.navbar{
    background-color: rgb(181, 245, 236) !important; 
    font-size: 1.4em;
    text-align: center !important;
}

#box{
    background-image: url(/images/silver.png);
    height: 1%;
    width: 100%;
}

.carousel-item img{
    width: 30%;
    height: 100%;
    margin: auto;
    margin-top: 5vh;
    border: .2em solid rgb(181, 245, 236);
}

@media only screen and (max-width: 1679px) {
    .carousel-item img{
        height: 95vh;
        width: 30vw; 
        margin-top: 0vh;
    }  

@media only screen and (max-width: 1024px) {
    .carousel-item img{
        width: 100vw;
        height: 100vh;  
    } 

@media only screen and (max-width: 375px) {
    .carousel-item img{
        height: 100vh;
        width: 100vw;
}

@media only screen and (max-width: 1024px) {
    .carousel-item img, .carousel-inner, .carousel{
        margin-top: 0vh;
        width: 100%;
        height: 100%; 
    }
}    