html, body {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0 !important;
}

.navbar{
    background-color: none !important;
    font-size: 1.4em;
    text-align: center !important;
}

#bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(/images/me.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main_content{
    position: relative;
    text-align: center;
    color: white;
    top: 40vh;
}

#main_content h1{
    font-family: 'Bebas Neue';
    font-size: 5em;
}

.tint{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(70, 31, 31, 0.5)
}

.bg-none{
    background: none;
}